@font-face { font-family: Cascadia_C; src: url(Cascadia.ttf) format('truetype'); }
@font-face { font-family: Cascadia_PL; src: url(CascadiaPL.ttf) format('truetype'); }
@font-face { font-family: Cascadia_Mono; src: url(CascadiaMono.ttf) format('truetype'); }
@font-face { font-family: Cascadia_Mono_PL; src: url(CascadiaMonoPL.ttf) format('truetype'); }